* {
  margin: 0;
  padding: 0;
}

* {
  /* No permite que el texto o imagenes sean subrayados*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

html {
  font-size: 1px !important;
}

body {
  background-color: #e6fbe1;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 42rem;
  margin-bottom: 5rem !important;
  margin-top: 0rem;
  overflow-y: hidden;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 24rem;
}

h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 28rem;
  margin-bottom: 24rem !important;
  margin-top: 0rem;
}

h5 {
  font-size: 36rem;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}

button {
  border: none !important;
  font-family: "Roboto", sans-serif;
  font-size: 28rem;
  font-weight: bold;
  background-color: #84c374;
  border-radius: 20rem !important;
  padding: 6rem 20rem;
  box-shadow: 2rem 8rem 11rem 2rem rgb(0 0 0 / 10%);
}

button,
button:active,
button:focus {
  outline: none !important;
}

/*INTRODUCCION */

/*fondo y movimiento del auto*/

.nucleo0 {
  background-image: url(../img/fondo_introduccion.png);
  background-size: cover;
  /*lo siguiente es para el fondo full screen*/
  background-position: center;
  position: relative;
}

/*BOTON NUCLEO Y ACTIVA EL AUTO */

#boton {
  padding: 10rem;
  background: orange;
  width: 95rem;
  cursor: pointer;
  margin-top: 10rem;
  margin-bottom: 10rem;
  box-shadow: 0rem 0rem 1rem #000;
  display: inline-block;
}

#boton:hover {
  opacity: 0.8;
}

/*

*/
/* --- AUTO --- */
.nucleo0__auto-estatico {
  position: absolute;
  left: -10%;
  bottom: 100rem;
  transform: translateX(-50%);
}

.nucleo0__auto img {
  width: 100%;
}

.nucleo0__auto-animado {
  animation: car 5s linear infinite;
}

@keyframes car {
  100% {
    transform: translateX(3600rem);
  }
}

#nucleo0__boton {
  cursor: pointer;
}

/*

*/
/*fin fondo y movimiento del auto*/

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 45%;
  width: auto;
  /* height: 400rem; */
  margin-top: -200rem;
  margin-left: -300rem;
  margin-bottom: 0rem;
  padding: 0rem;
}
/* CSS BARRA DE PROGRESO */

.RadialProgress {
  --hue: 137;
  --holesize: 65%;
  --track-bg: hsl(137 59% 73%);

  inline-size: 50vmin;
  min-inline-size: 100rem;
  min-block-size: 100rem;
  display: grid;
  place-items: center;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: max(10vmin, 1.4rem);
}
/*NUCLEO 3*/

.fondo_3 {
  height: 100vh;
  width: auto;
  background-image: url(../img/fondo_introduccion.png);
  background-size: cover;
  /*lo siguiente es para el fondo full screen*/
  background-position: center;
  position: relative;
  /* overflow-x: hidden;*/
}
