* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e6fbe1;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 42px;
  margin-bottom: 5px !important;
  margin-top: 0px;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}
h2,h3,h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  margin-bottom: 24px !important;
  margin-top: 0px;
}
h5 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
button {
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  font-weight: bold;
  background-color: #84c374;
  border-radius: 20px;
  padding: 6px 20px;
  box-shadow: 2px 8px 11px 2px rgb(0 0 0 / 10%);
}

/*INTRODUCCION */

/*fondo y movimiento del auto*/

.nucleo0 {
  background-image: url(../img/fondo_introduccion.png);
  background-size: cover;
  /*lo siguiente es para el fondo full screen*/
  background-position: center;
  position: relative;
}

/*BOTON NUCLEO Y ACTIVA EL AUTO */

#boton {
  padding: 10px;

  background: orange;

  width: 95px;

  cursor: pointer;

  margin-top: 10px;

  margin-bottom: 10px;

  box-shadow: 0px 0px 1px #000;

  display: inline-block;
}

#boton:hover {
  opacity: 0.8;
}

/*

*/
/* --- AUTO --- */
.nucleo0__auto-estatico {
  position: absolute;
  left: -10%;
  bottom: 100px;
  transform: translateX(-50%);
}

.nucleo0__auto img {
  width: 100%;
}

.nucleo0__auto-animado {
  animation: car 5s linear infinite;
}

@keyframes car {
  100% {
    transform: translateX(3600px);
  }
}

#nucleo0__boton {
  cursor: pointer;
}

/*

*/
/*fin fondo y movimiento del auto*/

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 45%;
  width: auto;
  /* height: 400px; */
  margin-top: -200px;
  margin-left: -300px;
  margin-bottom: 0px;
  padding: 0px;
}
/* CSS BARRA DE PROGRESO */

.RadialProgress {
  --hue: 137;
  --holesize: 65%;
  --track-bg: hsl(137 59% 73%);

  inline-size: 50vmin;
  min-inline-size: 100px;
  min-block-size: 100px;
  display: grid;
  place-items: center;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: max(10vmin, 1.4rem);
}
/*NUCLEO 3*/

.fondo_3 {
  height: 100vh;
  width: auto;
  background-image: url(../img/fondo_introduccion.png);
  background-size: cover;
  /*lo siguiente es para el fondo full screen*/
  background-position: center;
  position: relative;
 /* overflow-x: hidden;*/
}
