@keyframes slideInLeft {
  0% {
    transform: translate3d(-250rem, 0, 0);
    visibility: visible;
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideOutLeft {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-250rem, 0, 0);
    visibility: hidden;
  }
}
* {
  box-sizing: border-box;
}

body:after {
  background: rgba(0, 0, 0, 1);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: auto;
  padding: 0;

  top: 0;
  transition: all 0.4s ease;
  width: 100%;
}
body.open {
  overflow: hidden;
}
body.open:after {
  opacity: 1;
  visibility: visible;
}
.b-nav {
  position: fixed;
  z-index: 11;
  background-color: black;
  width: 100%;
  height: 100%;
}
.b-nav:not(.open) {
  visibility: hidden;
}
.b-nav li {
  color: rgba(255, 255, 255, 1);
  list-style-type: none;
  padding: 10rem;
  text-align: left;
  transform: translateX(-250rem);
}
.b-nav li:not(.open) {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: slideOutLeft;
}
.b-nav li:first-child {
  padding-top: 120rem;
}
.b-nav.open {
  visibility: visible;
}
.b-nav.open li {
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: slideInLeft;
}
.b-link {
  background: transparent;
  display: flex;
  align-items: center;
  border-left: rgba(68, 68, 68, 0) solid 2rem;
  color: rgba(255, 255, 255, 1);
  font-family: "Oswald", sans-serif;
  font-size: 24rem;
  font-weight: 300;
  margin-left: 15rem;
  text-decoration: none;
  transition: all 0.4s ease;
  width: auto;
}
.b-link:hover,
.b-link--active {
  border-left: rgba(68, 68, 68, 1) solid 2rem;
  padding-left: 30rem;
}
.b-menu {
  background: #ffc727;
  border: #ffc727 solid 2rem;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;

  height: 60rem;
  padding-left: 15.5rem;
  padding-top: 17.5rem;
  position: fixed;
  transition: all 0.4s ease;
  user-select: none;
  width: 60rem;
  z-index: 12;
}

.b-menu:hover {
  border: rgba(68, 68, 68, 1) solid 2rem;
}
.b-bun {
  background: rgba(68, 68, 68, 1);
  position: relative;
  transition: all 0.4s ease;
}
.b-bun--top {
  height: 2rem;
  top: 0;
  width: 25rem;
}
.b-bun--mid {
  height: 2rem;
  top: 8rem;
  width: 25rem;
}
.b-bun--bottom {
  height: 2rem;
  top: 16rem;
  width: 25rem;
}
.b-brand {
  color: rgba(255, 255, 255, 1);
  font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
  font-size: 24rem;
  font-weight: 300;
  margin-left: 30rem;
  position: relative;
  text-decoration: none;
  top: -21.4285714286rem;
  transition: all 0.4s ease;
  z-index: 13;
}
.b-container {
  height: 60rem;
  left: 30rem;
  position: absolute;
  top: 30rem;
  overflow-x: hidden;

  overflow-y: hidden;
}
.b-container:hover:not(.open) .bun-top,
.b-container:hover:not(.open) .bun-mid,
.b-container:hover:not(.open) .bun-bottom {
  background: rgba(255, 255, 255, 1);
}
.b-container.open .b-main {
  border: rgba(68, 68, 68, 1) solid 2rem;
}
.b-container.open .b-bun--top {
  background: rgba(68, 68, 68, 1);
  top: 9rem;
  transform: rotate(45deg);
}
.b-container.open .b-bun--mid {
  opacity: 0;
}
.b-container.open .b-bun--bottom {
  background: rgba(68, 68, 68, 1);
  top: 5rem;
  transform: rotate(-45deg);
}
.b-container.open .b-brand {
  color: rgba(68, 68, 68, 1);
}

img.menu_numeros_romanos {
  margin-right: 24rem;
}
