/*MODOS DE CARGA*/

div#infoModosDeCarga {
  display: none;
  position: relative;
  text-align: center;
  background-color: rgba(36, 122, 63, 1);
  width: 430px;
  top: 25%;
  padding: 15px;
  margin: 0 auto;
  border: 2px solid rgba(36, 122, 63, 1);
  border-radius: 15px;
  color: white;
}
#titulos_CARGA {
  position: fixed;
  margin-top: 180px;
  font-size: 18px;
}

#titulo_componentes_electricos {
  display: flex;
}
#subtitulo_componenetes_electricos {
  display: flex;
}
#titulo_mododecarga {
  display: none;
}
#subtitulo_mododecarga {
  display: none;
}

/* CARGA LENTA */

.itemX {
  position: relative;
  display: inline-flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.itemX img {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
}

.itemX img {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
}

.item_Carga1 {
  background-color: #e6fbe1;
  justify-content: center;
  margin-right: 5%;
  height: 89px;
  width: 89px;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  border: 4px solid #84c374;
}

.ConexionCargaLenta {
  position: relative;
  margin-top: 100px;
}

#CargaLenta_secuencia {
  display: none;
}

#CargaLenta_nucleo1 {
  display: none;
  text-align: center;
}
#CargaLenta_nucleo1 p {
  display: block;
}

#progresoCargaLenta {
  display: none;
  position: absolute;
  top: 25%;
  left: 12%;
  width: 2%;
  height: 30px;
  border-bottom: 5px solid #247A3F;
  transition: width 1s;
  overflow-x: hidden;
}

#txt_torre {
  visibility: hidden;
  
}
#txt_titulo_torre {  
  
  display: flex;
}
#torreCargaLenta-Noseleccionada {
  display: flex;
}
#torreCargaLenta-seleccionada {
  display: none;
}

#txt_casaCargaLenta {
  visibility: hidden;
  
}
#txt_titulo_casa {
  display: flex;
}
#casaCargaLenta-Noseleccionada {
  display: flex;
}
#casaCargaLenta-seleccionada {
  display: none;
}

#txt_conectorCargaLenta {
  visibility: hidden;
  
}
#txt_titulo_conector {
  display: flex;
}
#conectorCargaLenta-Noseleccionada {
  display: flex;
}
#conectorCargaLenta-seleccionada {
  display: none;
}

#txt_autoCargaLenta {
  visibility: hidden;
  
}
#txt_titulo_auto {
  display: flex;
}
#autoCargaLenta-Noseleccionada {
  display: flex;
}
#autoCargaLenta-seleccionada {
  display: none;
}

/* CARGA SEMIRAPIDA */
.item_CargaSemirapida {
  position: relative;
  display: inline-flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.item_CargaSemirapida img {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
}

.item_Carga2 {
  justify-content: center;
  background-color: #e6fbe1;
  margin-right: 5%;
  height: 89px;
  width: 89px;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  border: 4px solid #84c374;
}

.ConexionCargaSemiRapida {
  position: relative;
  margin-top: 100px;
}

#CargaSemiRapida_secuencia {
  display: none;
}

#CargaSemiRapida_nucleo1 {
  display: none;
}
#CargaSemiRapida_nucleo1:hover {
  display: none;
  background-color: #9fd791;
}

#progresoCargaSemiRapida {
  display: none;
  position: absolute;
  top: 25%;
  left: 11%;
  width: 2%;
  height: 30px;
  border-bottom: 5px solid #247A3F;
  transition: width 1s;
  overflow-x: hidden;
}

#txt_torre_cargasemirapida {
  visibility: hidden;  
}
#txt_titulo_torre_cargasemirapida {
  display: flex;
}
#torreCargaSemiRapida-Noseleccionada {
  display: flex;
}
#torreCargaSemiRapida-seleccionada {
  display: none;
}

#txt_casa_cargasemirapida {
  visibility: hidden;  
}
#txt_titulo_casa_cargasemirapida {
  display: flex;
}
#casaCargaSemiRapida-Noseleccionada {
  display: flex;
}
#casaCargaSemiRapida-seleccionada {
  display: none;
}

#txt_titulo_conector_cargasemirapida {
  display: flex;
}
#txt_conector_cargasemirapida {
  visibility: hidden;  
}
#conectorCargaSemiRapida-Noseleccionada {
  display: flex;
}
#conectorCargaSemiRapida-seleccionada {
  display: none;
}

#txt_titulo_auto_cargasemirapida {
  display: flex;
}
#txt_auto_cargasemirapida {
    visibility: hidden; 
}
#autoCargaSemiRapida-Noseleccionada {
  display: flex;
}
#autoCargaSemiRapida-seleccionada {
  display: none;
}

/* CARGA RAPIDA */
.item_CargaRapida {
  position: relative;
  display: inline-flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
.item_CargaRapida img {
  margin-top: 10px;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
}

.item_Carga3 {
  justify-content: center;
  background-color: #e6fbe1;
  margin-right: 5%;
  height: 89px;
  width: 89px;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  border: 4px solid #84c374;
}

.ConexionCargaRapida {
  position: relative;
  margin-top: 100px;
}

#CargaRapida_secuencia {
  display: none;
}

#CargaRapida_nucleo1 {
  display: none;
}
#CargaRapida_nucleo1:hover {
  display: none;
  background-color: #9fd791;
}

#progresoCargaRapida {
  display: none;
  position: absolute;
  top: 25%;
  left: 12%;
  width: 2%;
  height: 30px;
  border-bottom: 5px solid #247A3F;
  transition: width 1s;
  overflow-x: hidden;
}

#txt_torre_cargarapida {
   visibility: hidden;   
}
#txt_titulo_torre_cargarapida {
  display: flex;
}
#torreCargaRapida-Noseleccionada {
  display: flex;
}
#torreCargaRapida-seleccionada {
  display: none;
}

#txt_casa_cargarapida {
   visibility: hidden;   
}
#txt_titulo_casa_cargarapida {
  display: flex;
}
#casaCargaRapida-Noseleccionada {
  display: flex;
}
#casaCargaRapida-seleccionada {
  display: none;
}

#txt_conector_cargarapida {
   visibility: hidden;   
}
#txt_titulo_conector_cargarapida {
  display: flex;
}
#conectorCargaRapida-Noseleccionada {
  display: flex;
}
#conectorCargaRapida-seleccionada {
  display: none;
}

#txt_auto_cargarapida {
   visibility: hidden;   
}
#txt_titulo_auto_cargarapida {
  display: flex;
}
#autoCargaRapida-Noseleccionada {
  display: flex;
}
#autoCargaRapida-seleccionada {
  display: none;
}
