/*MODOS DE CARGA*/

#progresoCargaLenta{
display: none;
position: absolute;
top: 47%;
left: 14%;
width:2%;
height: 30px;
border-bottom: 5px solid #4B81BD;
 
  transition: width 1s;
  overflow-x: hidden; 
}
#progresoCargaSemiRapida{
  display: none;
  position: absolute;
  top: 47%;
  left: 12%;
  width:2%;
  height: 30px;
  border-bottom: 5px solid #4B81BD;
   
    transition: width 1s;
    overflow-x: hidden; 
  }
  #progresoCargaRapida{
    display: none;
    position: absolute;
    top: 47%;
    left: 12%;
    width:2%;
    height: 30px;
    border-bottom: 5px solid #4B81BD;     
      transition: width 1s;
      overflow-x: hidden; 
    }

div#infoModosDeCarga {
  display: none;
  position: relative;
  text-align: center;
  background-color: rgba(36, 122, 63, 1);
  width: 420px;
  top: 25%;
   padding: 15px;
   margin: 0 auto;
  border: 2px solid rgba(36, 122, 63, 1);
  border-radius: 15px;
  
}

.item_Carga1{
        background-color: #D1E8BA;
        margin-right: 5%;
    height: 89px;
    width: 89px;
    border-radius: 50%;
    display: inline-block;
       align-items: center;
    text-align: center;
    overflow-y: hidden; 
}

.item_Carga2{
        background-color: #D1E8BA;
        margin-right: 5%;
    height: 89px;
    width: 89px;
    border-radius: 50%;
    display: inline-block;
       align-items: center;
    text-align: center;
    overflow-y: hidden; 

}
.item_Carga3{
        background-color: #D1E8BA;
        margin-right: 5%;
    height: 89px;
    width: 89px;
    border-radius: 50%;
    display: inline-block;
       align-items: center;
    text-align: center;
    overflow-y: hidden; 

}

#CargaLenta_nucleo1{
  display: none;       
  text-align: center;
}
      
#CargaSemiRapida_nucleo1 {
  display: none;
  top: 50%;
  left: 48%;
}
#CargaLenta_nucleo1 p{
    display: block;    
}

#CargaRapida_nucleo1 {
  display: none;
  top: 43%;
  left: 57%;
}

#titulos_CARGA{
    position: fixed;
    margin-top: 180px;
    font-size: 18px;

}

.itemX{
position: relative;
display: inline;
margin: 0 auto;
flex-direction: column;
align-items: center;
}
.itemX_2{
  position: relative;
  display: inline-flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  }


.itemX img{
    margin-top: 10px;
margin-bottom: 30px;
width: 80px;
height: 80px;
}
.itemX_2 img{
  margin-top: 10px;
margin-bottom: 30px;
width: 80px;
height: 80px;
}
   /* CARGA LENTA */

#CargaLenta_secuencia {
  display: none;
  top: 42%;
  left: 39%;
}

#txt_torre {
  display: none;
}
#txt_titulo_torre{
display: flex;
}
#torreCargaLenta-Noseleccionada{
  display: flex;        
}       
#torreCargaLenta-seleccionada{
  display: none;
}

#txt_casaCargaLenta{
  display: none;
}
#txt_titulo_casa{
  display: flex;    
}
#casaCargaLenta-Noseleccionada{
  display: flex;
}
#casaCargaLenta-seleccionada{
  display: none;
}

#txt_conectorCargaLenta{
   display: none;
}
#txt_titulo_conector{
   display: flex;    
}
#conectorCargaLenta-Noseleccionada{
  display: flex;    
}
#conectorCargaLenta-seleccionada{
  display: none;    
}

#txt_autoCargaLenta{
  display: none;
}
#txt_titulo_auto{
  display: flex;    
}
#autoCargaLenta-Noseleccionada{
  display: flex;        
}
#autoCargaLenta-seleccionada{
  display: none;        
}
        
        /* CARGA SEMIRAPIDA */
#CargaSemiRapida_secuencia{
  display: none;          
}

#txt_torre_cargasemirapida {
  display: none;
}
#txt_titulo_torre_cargasemirapida{
  display: flex;        
}
#torreCargaSemiRapida-Noseleccionada{
  display: flex;          
}         
#torreCargaSemiRapida-seleccionada{
  display: none;  
}

#txt_casa_cargasemirapida{
  display: none;          
}
#txt_titulo_casa_cargasemirapida{
  display:  flex;              
}
#casaCargaSemiRapida-Noseleccionada{
  display: flex;  
} 
#casaCargaSemiRapida-seleccionada{
display: none;
}
        
#txt_titulo_conector_cargasemirapida{
display:  flex;
}
#txt_conector_cargasemirapida{
display: none;
}
#conectorCargaSemiRapida-Noseleccionada{
  display: flex;      
}     
#conectorCargaSemiRapida-seleccionada{
display: none;
}

#txt_titulo_auto_cargasemirapida{
  display:  flex;
}
#txt_auto_cargasemirapida{
  display: none;
}   
#autoCargaSemiRapida-Noseleccionada{
  display: flex;    
}     
#autoCargaSemiRapida-seleccionada{
display: none;
}

/* CARGA RAPIDA */
#CargaRapida_secuencia{
  display: none;  
}
#txt_torre_cargarapida {
  display: none;
}
#txt_titulo_torre_cargarapida{
display:  flex;
}
#torreCargaRapida-Noseleccionada{
  display: flex;  
} 
#torreCargaRapida-seleccionada{
display: none;
}

#txt_casa_cargarapida {
  display: none;
}
#txt_titulo_casa_cargarapida{
display:  flex;
}
#casaCargaRapida-Noseleccionada{
  display: flex;  
} 
#casaCargaRapida-seleccionada{
display: none;
}

#txt_conector_cargarapida {
  display: none;
}
#txt_titulo_conector_cargarapida{
display:  flex;
}
#conectorCargaRapida-Noseleccionada{
  display: flex;  
} 
#conectorCargaRapida-seleccionada{
display: none;
}

#txt_auto_cargarapida {
  display: none;
}
#txt_titulo_auto_cargarapida{
display:  flex;
}
#autoCargaRapida-Noseleccionada{
  display: flex;  
} 
#autoCargaRapida-seleccionada{
display: none;
}  
