#nucleo3 {
  cursor: url("../img/cursor.svg"), auto;
}

/*NUCLEO 3*/
#nucleo3 {
  background-image: url(../img/fondo_introduccion.png);
  background-size: cover;
    display: flex;
    flex-direction: column;
    cursor: url("../img/cursor.png"), auto;
    justify-content: center;
    align-items: center;
  
}
.nucleo3_header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-top: 30rem;
}
.contenedor_nucleo3 {
  display: flex;
  flex-direction: column;
position: relative;
  align-content: center;
  align-items: center;
  margin-top: 10rem;
  width: 90%;
  margin: auto 0;
 
}



#bg_comb label {
  font-family: "Roboto";
  font-size: 48rem;
  font-weight: bolder;
}

#bg_combD label {
  font-family: "Roboto";
  font-size: 44rem;
  font-weight: bolder;
}
#bg_elect label {
  font-family: "Roboto";
  font-size: 48rem;
  font-weight: bolder;
}
#bg_elecD label {
  font-family: "Roboto";
  font-size: 44rem;
  font-weight: bolder;
}

#bg_comb {
  background-color: #fa8d78;
  /* height: 90rem; */
}
h5 {
  overflow-y: hidden;
}
#bg_elec {
  background-color: #a4e8b6;
  /*  height: 90rem; */
  overflow-y: hidden;
}
#bg_combD {
  background-color: #f4ae98;
  height: 90rem;
}
#bg_elecD {
  background-color: #b6ecbf;
  height: 90rem;
}
#rowM {
  height: 90rem;
  overflow-y: hidden;
}

.carousel {
  max-width: 800rem;
  margin: 0 auto;
  display: flex;
}
#texto {
  font-size: 12rem;
}
#contenedorGrafico {
  margin-top: 2%;
  height: 20em;
}
#km_dia_nucleo3 {
  font-size: 24px;
  margin-top: -30rem;
  font-weight: bold;
  overflow-y: hidden; 
}
#progressbar {
  font-size: 54px;
}

#seleccionar_km_nucleo3 {
  font-size: 24px;
  font-weight: 400;
  overflow-y: hidden;
}

.nucleo3_iconos_referencia{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}
.nucleo3_iconos_mid {
  width: 54%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nucleo3_iconos_der {
  width: 22%;
  display: flex;
  justify-content: center;
  margin-bottom: 0rem;
  padding: 24rem;
  background-color: #d88176;
}
.nucleo3_iconos_izq {
  width: 22%;
  display: flex;
  justify-content: center;
  margin-bottom: 0rem;
  align-items: center;
  background-color: #89c779;
}
#iconos_combustion_nucleo3 {
  width: 52rem;
}

#iconos_nucleo3 {
  width: 52rem;

  height: 52rem;
}
#subtitulo_nucleo3 {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  margin-top: 24rem;
  overflow-y: hidden;
}
.nucleo_3_row {
  width: 100%;
  height: 500rem;
  display: flex;
  flex-direction: row;
}

.nucleo_3_col {
  width: 14.2%;
  height: 90%;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.col_1 {
  background-color: #fa8d78;
  width: 30%;
  height: 90%;
  
}
.col_2 {
  display: flex;
  align-items: center;
  height: 90%;
  justify-content: center;
}
.col_3 {
  background-color: rgba(250, 141, 120, 0.7);
  display: flex;
  height: 90%;
  padding-top: 4%;
}
.col_4 {
  background-color: rgba(255, 255, 255, 0.5);
  width: 20%;
  display: flex;
  align-items: center;
  text-align: center;
  height: 90%;
  padding-top: 2%;
}
.col_5 {
  background-color: rgba(164, 232, 182, 0.7);
  display: flex;
  height: 90%;
  padding-top: 4%;
}
.col_6 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 00%;
}
#igual_nucleo3 {
  width: 32px;
}
.col_7 {
  background-color: #a4e8b6;
  width: 30%;
  height: 90%;
}

/*COL elementos*/
.nucleo_3_col_row_izq {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nucleo_3_col_row_mid_izq {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nucleo_3_col_row_der {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
