 /*NUCLEO 3*/
 .contenedor_nucleo3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 35%;
  left: 50%;
  width: 982px;
  margin-top: -200px;
  margin-left: -460px;
  margin-bottom: 0px;
  padding: 0px;
}


.fondo_3 {
  height: 100vh;
  width: auto;
  background-image: url(../img/fondo_introduccion.png);
  background-size:cover;
  /*lo siguiente es para el fondo full screen*/
  background-position: center;
  position: relative;
  overflow-x: hidden;
  

}

#bg_comb label {
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: bolder;
}

#bg_combD label {
  font-family: 'Roboto';
  font-size: 44px;
  font-weight: bolder;
}
#bg_elec label {
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: bolder;
}
#bg_elecD label {
  font-family: 'Roboto';
  font-size: 44px;
  font-weight: bolder;
}

#bg_comb {
background-color: #FA8D78;
height: 90px;
}
h5 {
overflow-y:hidden;
}
#bg_elec{
 background-color: #A4E8B6;
 height: 90px;
}
#bg_combD{
 background-color: #F4AE98;
 height: 90px;
}
#bg_elecD {
background-color: #B6ECBF;
height: 90px;
}
#rowM{
  height: 90px;
  overflow-y:hidden;
}

.carousel {
max-width: 800px;
margin: 0 auto;
display: flex;
}
#texto {
  font-size: 12px;
}
#contenedorGrafico {
  margin-top: 2%;
  height: 20em;
  
}