/* Utilidades */
#nucleo4 {
  background-size: cover;
  background-image: url(../img/fondo_introduccion.png);
}

/*


*/
/* ----- Header ------ */
.nucleo4__header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-top: 30rem;
}

.nucleo4__ventajas {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
}

.nucleo4__ventajas__numerada {
  background-color: transparent;
  height: 80rem;
  width: 80rem;
  border: 2rem solid #84c374;
  border-radius: 50%;
  display: inline-block;
  margin-right: 2%;
  text-align: center;
  align-items: center;
}

.nucleo4__ventajas__numerada p {
  display: block;
  margin: 25% auto auto auto;
}

.nucleo4__ventajas__numerada:hover {
  background-color: #84c374;
}

/*


















*/

/* Style tab links */
.tablink {
  box-shadow: none;
  background-color: transparent !important;
  color: black;
  float: left;
  border: none;

  border-radius: 0rem;
  outline: none;

  padding: 14rem 16rem;
  font-size: 28rem;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
  border-bottom: black solid 2rem;
}

.tablink:active {
  border-bottom: black solid 2rem;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: flex;
  padding-top: 12em;
  height: 100%;
  width: 100%;
}

.botones_seleccion_nucleo4 {
  display: flex;
  justify-content: center;
  width: 200%;
  background-color: transparent !important;
}

#flecha {
  display: inline-block;
  margin-right: 2%;
  text-align: center;
}

#oculta4-1 {
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  top: 30%;
}
#oculta4-2 {
  display: none;
  position: absolute;
  text-align: center;
  flex-direction: column;
  height: auto;
  top: 30%;
}
#oculta4-3 {
  display: none;
  position: absolute;
  text-align: center;
  flex-direction: column;
  height: auto;
  top: 30%;
}
#oculta4-4 {
  display: none;
  position: absolute;
  text-align: center;
  flex-direction: column;
  height: auto;
  top: 30%;
}
#oculta4-5 {
  display: none;
  position: absolute;
  text-align: center;
  flex-direction: column;
  height: auto;
  top: 30%;
}
#oculta4-6 {
  display: none;
  position: absolute;
  text-align: center;
  flex-direction: column;
  height: auto;
  top: 30%;
}
#oculta4-7 {
  display: none;
  position: absolute;
  text-align: center;
  flex-direction: column;
  height: auto;
  top: 30%;
}
p {
  font-weight: bold;
}
p#oculta4 {
  margin-top: 30%;
}

#texto_verde {
  color: #84c374;
  font-size: 72rem;
  font-weight: bold;
}

.txt4-1 {
  height: auto;
}
.img4-1 {
  position: relative;
  height: 500rem;
}

#oculta4-1 .img4-1 img {
  position: relative;
  top: 60%;
}
#oculta4-3 .img4-1 img {
  position: relative;
  top: 60%;
}
#oculta4-4 .img4-1 img {
  position: relative;
  top: 30%;
}
#oculta4-5 .img4-1 img {
  position: relative;
  top: 60%;
}
#oculta4-7 .img4-1 img {
  position: relative;
  top: 50%;
}
