/* Utilidades */
#nucleo4 {
  background-size: cover;
  background-image: url(../img/nucleo4/fondo-ventajas.svg);
  display: grid;
  grid-template-rows: 20% 15% 65%;
  cursor: url("../img/cursor.svg"), auto;
}

/*


*/
/* ----- Header ------ */
.nucleo4__header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-top: 30rem;
  height: 145rem;
}
.nucleo4__header__botones {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.nucleo4__header__botones__item {
  margin-top: 10rem;
  padding: 0 70rem;
  font-size: 28rem;
  box-shadow: none;
  border-radius: 0rem;
  background-color: transparent;
  cursor: pointer;
}

.primerKm {
  float: left;
}
#texto1 {
  float: left;
  width: 200rem;
}
#texto2 {
  float: right;
  width: 200rem;
}
#texto1 p {
  font-size: 18rem;
}
#texto2 p {
  font-size: 18rem;
}

/*


*/
/* Opciones numeradas */
.nucleo4__opciones-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.nucleo4__opciones {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 30rem;
  cursor: pointer;
}
#ventajas-container div {
  border: 4rem solid #84c374;
}
#ventajas-container div:hover {
  background-color: #84c374;
}
#desventajas-container div {
  border: 4rem solid #dd6a57;
}
#desventajas-container div:hover {
  background-color: #dd6a57;
}

.nucleo4__opciones__item {
  display: inline-block;
  background-color: transparent;
  height: 80rem;
  width: 80rem;
  margin: 0 2%;
  border-radius: 50%;
  text-align: center;
  align-items: center;
}

.nucleo4__opciones__item p {
  display: block;
  margin: 25% auto auto auto;
}

/*

*/
/* Contenido */
.nucleo4__contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.nucleo4__contenido__item {
  display: none;
  position: absolute;
  text-align: center;
  flex-direction: column;
  height: auto;
  top: 40%;
}

.nucleo4__contenido__item:first-child {
  display: flex;
}

.nucleo4__contenido__item p {
  font-weight: bold;
  height: auto;
  margin-top: -10rem;
}

.nucleo4__contenido__item__imagen {
  position: relative;
  margin-top: 140rem;
  overflow-y: visible;
}

#ventaja1 .nucleo4__contenido__item__imagen img {
  margin-top: 3%;
  position: relative;
  top: 60%;
}
#ventaja3 .nucleo4__contenido__item__imagen img {
  margin-top: 5%;
  position: relative;
  top: 60%;
}
#ventaja4 .nucleo4__contenido__item__imagen img {
  position: relative;
  top: 30%;
  width: 575rem;
  height: auto;
  margin-top: -16%;
}
#ventaja5 .nucleo4__contenido__item__imagen img {
  position: relative;
  top: 60%;
  margin-top: 5%;
}
#ventaja7 .nucleo4__contenido__item__imagen img {
  position: relative;
  top: 50%;
}
.datosElectrico {
  float: left;
  margin-left: 35rem;
}
.datosCombustion {
  float: right;
  margin-right: 60rem;
}
.datosCombustion label {
  font-family: "Roboto";
  font-size: 44rem;
  font-weight: bolder;
  line-height: 52rem;
}
.datosElectrico label {
  font-family: "Roboto";
  font-size: 44rem;
  font-weight: bolder;
  line-height: 52rem;
}
.video {
  float: left;
  margin-right: 50rem;
}
.infoVentaja2 {
  margin-top: 7.5%;
}
#flechaKm {
  margin-top: 9rem;
  width: 450rem;
}
div#progressbar2 {
  /* text-align: center; */
  margin: 0 auto 5rem auto;
  font-size: 54rem !important;
}
div#progressbar3 {
  margin: 0 auto;
}
#km_dia_nucleo4 {
  font-size: 24px;
  margin-top: -25rem;
  font-weight: bold;
  overflow-y: hidden;
  margin-bottom: 10rem;
}

.datosCO2 p {
  font-weight: normal;
  margin-top: -5rem;
  margin-bottom: 30rem;
}

#desventaja2__imagen {
  margin-top: 50rem;
}

#desventaja4__imagen {
  margin-top: 25%;
}
