#nucleo1 {
  cursor: url("../img/cursor.svg"), auto;
}

.contenedor_nucleo1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 20rem;
}

#subtitulo_componentes_electricos {
  margin-top: 10rem;
}

.nucleo1_contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nucleo1_items {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 100rem;
  /*padding-left: 10%;*/
  padding: 30rem 10%;
}
#titulos_iconos_nucleo1 {
  position: absolute;
  margin-top: 10rem;
  margin-left: -12rem;
  font-size: 18rem;
}
.nucleo1__item__descripcion {
  position: absolute;
  visibility: hidden;
  margin-top: 42rem;
  margin-left: -12rem;
  font-size: 18rem;
  font-weight: 400;
  line-height: 22rem;
  text-align: left;
}

.items_nucleo1 {
  width: 100%;
  margin-top: 2%;
  margin-left: 5%;
  align-items: center;
  justify-content: center;
  display: contents;
}
.nucleo1__item {
  background-color: #d1e8ba;
  height: 100rem;
  width: 100rem;
  border-radius: 50%;
  display: inline-block;
  /*margin-right: 10%;*/
  margin: 0% 10%;
  align-items: center;
  text-align: center;
  overflow-y: hidden;
  cursor: pointer;
}

.nucleo1__item:hover {
  background-color: #9fd791;
}

.nucleo1__item img {
  width: 100%;
}

#plugCarga {
  display: none;
  position: absolute;
  top: 42%;
  left: 39%;
  width: 40rem;
}
#bateriaLitio {
  display: none;
  position: absolute;
  top: 50%;
  left: 48%;
}
#motorElectrico {
  display: none;
  position: absolute;
  top: 43%;
  left: 57%;
}

#plugCarga {
  display: none;
}
#bateriaLitio {
  display: none;
}
#motorElectrico {
  display: none;
}

/*agregar/sacar icono */

#nucleo1_icono_agregar img {
  width: 24rem;
}

div#nucleo1_icono_agregar {
  position: absolute;
  display: flex;
  margin-left: 60rem;
}
div#nucleo1_icono_eliminar {
  position: absolute;
  display: none;
  margin-left: 60rem;
}

#auto_cuerpo {
  display: flex;
  margin-top: 10rem;
}
#auto_plug {
  display: none;
  margin-top: 10rem;
}
#auto_plug_bateria {
  display: none;
  margin-top: 10rem;
}
#auto_plug_bateria_motor {
  display: none;
  margin-top: 10rem;
}
