/* Utilidades */
#nucleo2 {
  background-color: #e6fbe1;
}

.ocultar {
  display: none !important;
}

.placeHolder {
  opacity: 30%;
}

/*


*/
/* ----- Header ------ */
.nucleo2__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 50px;
}

.nucleo2__header__botones {
  display: flex;
  justify-content: center;
}

.nucleo2__header__botones__item {
  margin-top: 20px;
  padding: 0 16px;
  font-size: 28px;
  box-shadow: none;
  border-radius: 0px;
  background-color: transparent;
}

/* ----- autopartes interactivas ----- */
.nucleo2__autopartes {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.nucleo2__autopartes__contenedor {
  width: auto;
  height: 100px;
  padding-right: 3%;
  overflow-y: hidden;
}

.nucleo2__autopartes__item {
  background-color: #d1e8ba;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-color: transparent;
  text-align: center;
}

.nucleo2__autopartes__item img {
  position: relative;
  width: 100%;
}

.nucleo2__autopartes__iconos {
  position: relative;
  top: -30px;
  left: -1px;
  font-size: 26px;
  text-align: right;
}

.nucleo2__autopartes__iconos i:nth-child(1) {
  color: #84c374;
}

.nucleo2__autopartes__iconos i:nth-child(2) {
  color: #b13131;
}

/* ----- Auto ----- */
.nucleo2__auto {
  display: flex;
  justify-content: center;
  min-height: 210px;
  height: 27vh;
  width: 100%;
}

.nucleo2__auto img {
  align-self: flex-end;
  /*min-height: 208px;*/
  height: 100%;
}
/**/

/*


















EStilos viejos
*/

/*grafico bottom*/
.nucleo2_grafico_resultados {
  background-color: black;
  width: 100%;
  height: 30%;
  display: flex;
  margin: 0px;
  flex-direction: row;
  padding-left: 0px;
}

.nucleo2_grafico_resultados_electrico {
  display: flex;
  width: 50%;
  background-color: #b6e9aa;
}
.nucleo2_grafico_resultados_combustion {
  display: flex;
  width: 50%;
  background-color: #e3a69e;
}
#item_nucleo2 {
  overflow-y: hidden;
  margin-top: 1%;
}
#item_nucleo2 img {
  padding-top: 10%;
  width: 55px;
}
#item_nucleo2_combustion img {
  padding-top: 10%;
  width: 55px;
}
#item_nucleo2_combustion {
  overflow-y: hidden;
}
#item_nucleo2_combustion {
  background-color: #ffcbc3;
  height: 89px;
  width: 89px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3%;
  text-align: center;
}

#item_nucleo2_combustion:hover {
  background-color: #9fd791;
  height: 89px;
  width: 89px;
  border: 2px solid #9fd791;
  border-radius: 50%;
  display: inline-block;
}

#item_nucleo3 img {
  padding-top: 10%;
  width: 55px;
}

/*grafico */

.nucleo2_div_resultados {
  display: flex;
  width: 100%;
  height: 200px;
  margin-top: 32px;
  flex-direction: row;
}

.nucleo2_resultados_electricos {
  background-color: #b6e9aa;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.nucleo2_resultados_combustion {
  background-color: #e3a69e;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
