/* Utilidades */
#nucleo2 {
  background-color: #e6fbe1;
}

.ocultar {
  display: none !important;
}

/*


*/
/* General */
.nucleo2__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 50px;
}

.nucleo2__header__botones {
  display: flex;
  justify-content: center;
}

.nucleo2__header__botones__item {
  margin-top: 20px;
  padding: 0 16px;
  font-size: 28px;
  box-shadow: none;
  border-radius: 0px;
  background-color: transparent;
}

.nucleo2__autopartes {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.nucleo2__autopartes__contenedor {
  width: auto;
  height: 100px;
  padding-right: 3%;
  overflow-y: hidden;
}

.nucleo2__autopartes__item {
  background-color: #d1e8ba;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  text-align: center;
}

.nucleo2__autopartes__item:hover {
  background-color: #9fd791;
  border: 2px solid #9fd791;
  border-radius: 50%;
}

.nucleo2__autopartes__item img {
  position: relative;
  width: 100%;
}

.nucleo2__autopartes__iconos {
  position: relative;
  top: -30px;
  left: -1px;
  font-size: 26px;
  text-align: right;
  color: #b13131;
}
/**/

/*agregar/sacar icono */

div#nucleo2_icono_agregar {
  position: relative;
  display: flex;
  margin-left: 60px;
}
div#nucleo2_icono_eliminar {
  position: absolute;
  display: none;
  margin-left: 60px;
}

/*



















*/
/* Style tab links */
/*
.tablink {
  box-shadow: none;
  background-color: transparent !important;
  color: black;
  float: left;
  border: none !important;

  border-radius: 0px;
  outline: none;

  padding: 14px 16px;
  font-size: 28px;
  width: 25%;
}
*/

.barras_de_progreso_nucleo2_electico {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: initial;
  flex-wrap: wrap;
  width: 50%;
  position: relative;
  left: 10%;
}

.tablink:hover {
  background-color: #777;
  border-bottom: black solid 2px;
}

.tablink:active {
  border-bottom: black solid 2px !important;
}

progress#file {
  /*aca se modifica la barra de progreso */
  width: 100%;
  padding: 20px;
}

.nucleo2_auto_grafico {
  display: flex;
  width: 100%;
  justify-content: center;
}
.nucleo2_auto_grafico img {
  width: 30em;
}
.nucleo2_auto_carroceria {
  display: none;
  width: 100%;
  justify-content: center;
}
.nucleo2_auto_carroceria img {
  width: 30em;
}

img#auto_nucleo2 {
  width: 35em;
}

/*grafico bottom*/
.nucleo2_grafico_resultados {
  background-color: black;
  width: 100%;
  height: 30%;
  display: flex;
  margin: 0px;
  flex-direction: row;
  padding-left: 0px;
}

.nucleo2_grafico_resultados_electrico {
  display: flex;
  width: 50%;
  background-color: #b6e9aa;
}
.nucleo2_grafico_resultados_combustion {
  display: flex;
  width: 50%;
  background-color: #e3a69e;
}
#item_nucleo2 {
  overflow-y: hidden;
  margin-top: 1%;
}
#item_nucleo2 img {
  padding-top: 10%;
  width: 55px;
}
#item_nucleo2_combustion img {
  padding-top: 10%;
  width: 55px;
}
#item_nucleo2_combustion {
  overflow-y: hidden;
}
#item_nucleo2_combustion {
  background-color: #ffcbc3;
  height: 89px;
  width: 89px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3%;
  text-align: center;
}

#item_nucleo2_combustion:hover {
  background-color: #9fd791;
  height: 89px;
  width: 89px;
  border: 2px solid #9fd791;
  border-radius: 50%;
  display: inline-block;
}

#item_nucleo3 img {
  padding-top: 10%;
  width: 55px;
}

/*grafico */

.nucleo2_div_resultados {
  display: flex;
  width: 100%;
  height: 200px;
  margin-top: 32px;
  flex-direction: row;
}

.nucleo2_resultados_electricos {
  background-color: #b6e9aa;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.nucleo2_resultados_combustion {
  background-color: #e3a69e;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
