/* Utilidades */
#nucleo4 {
  background-size: cover;
  background-image: url(../img/nucleo4/fondo-ventajas.svg);
  display: grid;
  grid-template-rows: 20% 20% 60%;
  cursor: url("../img/cursor.svg"), auto;
}

/*


*/
/* ----- Header ------ */
.nucleo4__header {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-top: 30rem;
}

.nucleo4__header__botones {
  display: flex;
  justify-content: center;
}

.nucleo4__header__botones__item {
  margin-top: 10rem;
  padding: 0 70rem;
  font-size: 28rem;
  box-shadow: none;
  border-radius: 0rem;
  background-color: transparent;
  cursor: pointer;
}
/*


*/
/* Opciones numeradas */
.nucleo4__opciones-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.nucleo4__opciones {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
#ventajas-container div {
  border: 4rem solid #84c374;
}
#ventajas-container div:hover {
  background-color: #84c374;
}
#desventajas-container div {
  border: 4rem solid #dd6a57;
}
#desventajas-container div:hover {
  background-color: #dd6a57;
}

.nucleo4__opciones__item {
  display: inline-block;
  background-color: transparent;
  height: 80rem;
  width: 80rem;
  margin: 0 2%;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

.nucleo4__opciones__item p {
  display: block;
  margin: 25% auto auto auto;
}

/*

*/
/* Contenido */
.nucleo4__contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.nucleo4__contenido__item {
  display: none;
  position: absolute;
  text-align: center;
  flex-direction: column;
  height: auto;
  top: 40%;
}

.nucleo4__contenido__item:first-child {
  display: flex;
}

.nucleo4__contenido__item p {
  font-weight: bold;
  height: auto;
}

.nucleo4__contenido__item__imagen {
  position: relative;
  height: 400rem;
}

#ventaja1 .nucleo4__contenido__item__imagen img {
  position: relative;
  top: 60%;
}
#ventaja3 .nucleo4__contenido__item__imagen img {
  position: relative;
  top: 60%;
}
#ventaja4 .nucleo4__contenido__item__imagen img {
  position: relative;
  top: 30%;
}
#ventaja5 .nucleo4__contenido__item__imagen img {
  position: relative;
  top: 60%;
}
#ventaja7 .nucleo4__contenido__item__imagen img {
  position: relative;
  top: 50%;
}
